
<% if @pokemon.photo.attached? %>
  <div class="banner" 
    style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @pokemon.photo.key, height: 300, crop: :fill %>'); max-width: 100%; max-height: 100%;">
  </div>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-6 mt-5">
      <h2 ><%= @pokemon.name %></h2>
      <h2 class="card-trip-pricing"> <%= @pokemon.price %></h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
      <% if policy(@pokemon).destroy? %>
        <%= link_to "Delete pokemon", pokemon_path(@pokemon.id), method: :delete, data: { confirm: "Delete #{@pokemon.name}?" } %>
      <% end %>
    </div>
    <div class="col-6 mt-5">
      <h2>Your Reservation Date</h2>
      <%= simple_form_for [@pokemon, @booking] do |f| %>
        <%= f.date_field :start_time, as: :string, required: false, min: Date.today, input_html: {class: "datepicker"} %>
        <%= f.date_field :end_time, as: :string, required: false, min: Date.today, input_html: {class: "datepicker"} %>
        <div class="form-buttons mt-2">
          <%= f.button :submit, "Book Pokemon", class: "btn btn-primary" %>
        </div>
      <% end %>

      <% if @pokemon.bookings %>
        <% @pokemon.bookings.each do |booking| %>
          <p><%= booking.user.email %> : <%= booking&.start_time&.strftime("%F") %> to <%= booking&.end_time&.strftime("%F") %></p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>